<html xmlns:th="http://www.thymeleaf.org">
<div class="layui-side layui-bg-black" th:fragment="left">
    <div class="layui-side-scroll">
        <!-- 左侧导航区域（可配合layui已有的垂直导航） -->
        <ul class="layui-nav layui-nav-tree" lay-filter="test">
            <li id="left_menus" class="layui-nav-item layui-nav-itemed">
                <a class="" href="javascript:;">企业管理</a>
                <dl class="layui-nav-child">
                    <dd id="list_menu"><a href="/list">企业列表</a></dd>
                    <dd id="edit_menu"><a href="/save">编辑企业</a></dd>
                </dl>
            </li>
        </ul>
    </div>
</div>
</html>