<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Amaze UI Admin index Examples</title>
    <meta name="description" content="这是一个 index 页面">
    <meta name="keywords" content="index">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="renderer" content="webkit">
    <meta name="apple-mobile-web-app-title" content="Amaze UI" />
</head>

<body data-type="index">
    <div class="am-g tpl-g">
        <!-- 菜单区域 -->
        <div th:replace="common/menu::html" ></div>

        <!-- 内容区域 -->
        <div class="tpl-content-wrapper">
            <div th:replace="list::html" ></div>
        </div>
    </div>
    <script src="../assets/js/app.js"></script>

</body>

</html>