<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Amaze UI Admin index Examples</title>
    <meta name="description" content="这是一个 save 页面">
    <meta name="keywords" content="index">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="renderer" content="webkit">
    <meta name="apple-mobile-web-app-title" content="Amaze UI" />

    <link rel="icon" type="image/png" href="../assets/i/favicon.png">
    <link rel="apple-touch-icon-precomposed" href="../assets/i/app-icon72x72@2x.png">
    <link rel="stylesheet" href="../assets/css/amazeui.min.css" />
    <link rel="stylesheet" href="../assets/css/amazeui.datatables.min.css" />
    <link rel="stylesheet" href="../assets/css/app.css">
    <script src="../assets/js/jquery.min.js"></script>
    <script src="../assets/js/echarts.min.js"></script>

</head>

<body data-type="index">
    <script src="../assets/js/theme.js"></script>
    <div class="am-g tpl-g">
        <!-- 菜单区域 -->
        <div th:replace="common/menu::html" ></div>

        <!-- 内容区域 -->
        <div class="tpl-content-wrapper">
            <form class="am-form">
                <div class="am-form-group">
                    <label for="doc-ipt-email-1">公司名称</label>
                    <input type="email" class="" id="doc-ipt-email-1" placeholder="公司名称">
                </div>

                <div class="am-form-group">
                    <label for="doc-ipt-pwd-1">企业性质</label>
                    <input type="password" class="" id="doc-ipt-pwd-1" placeholder="企业性质">
                </div>

                <div class="am-form-group">
                    <label for="doc-ipt-pwd-1">法人代表</label>
                    <input type="password" class="" id="doc-ipt-pwd-1" placeholder="法人代表">
                </div>

                <div class="am-form-group">
                    <label for="doc-ipt-pwd-1">营业执照</label>
                    <input type="password" class="" id="doc-ipt-pwd-1" placeholder="营业执照">
                </div>

                <div class="am-form-group">
                    <label for="doc-ipt-pwd-1">联系人</label>
                    <input type="password" class="" id="doc-ipt-pwd-1" placeholder="联系人">
                </div>

                <div class="am-form-group">
                    <label for="doc-ipt-pwd-1">联系电话</label>
                    <input type="password" class="" id="doc-ipt-pwd-1" placeholder="联系电话">
                </div>

                <div class="am-form-group">
                    <label for="doc-ipt-pwd-1">省</label>
                    <select data-am-selected>
                        <option value="a">Apple</option>
                        <option value="b" selected>Banana</option>
                        <option value="o">Orange</option>
                        <option value="m">Mango</option>
                        <option value="d" disabled>禁用鸟</option>
                    </select>
                </div>

                <div class="am-form-group">
                    <label for="doc-ipt-pwd-1">市</label>
                    <select data-am-selected>
                        <option value="a">Apple</option>
                        <option value="b" selected>Banana</option>
                        <option value="o">Orange</option>
                        <option value="m">Mango</option>
                        <option value="d" disabled>禁用鸟</option>
                    </select>
                </div>

                <div class="am-form-group">
                    <label for="doc-ipt-pwd-1">县</label>
                    <select data-am-selected>
                        <option value="a">Apple</option>
                        <option value="b" selected>Banana</option>
                        <option value="o">Orange</option>
                        <option value="m">Mango</option>
                        <option value="d" disabled>禁用鸟</option>
                    </select>
                </div>

                <div class="am-form-group">
                    <label for="doc-ipt-pwd-1">详细地址</label>
                    <textarea class="" rows="5" id="doc-ta-1" placeholder="详细地址"></textarea>
                </div>

                <div class="am-form-group">
                    <label for="doc-ipt-pwd-1">实验室能力水平</label>
                    <textarea class="" rows="5" id="doc-ta-1" placeholder="实验室能力水平"></textarea>
                </div>

                <div class="am-form-group">
                    <label for="doc-ipt-pwd-1">认证情况</label>
                    <textarea class="" rows="5" id="doc-ta-1" placeholder="认证情况"></textarea>
                </div>

                <div class="am-form-group">
                    <label for="doc-ipt-pwd-1">生产许可证</label>
                    <input type="password" class="" id="doc-ipt-pwd-1" placeholder="生产许可证">
                </div>

                <div class="am-form-group">
                    <label for="doc-ipt-pwd-1">生产许可证</label>
                    <input type="password" class="" id="doc-ipt-pwd-1" placeholder="生产许可证">
                </div>

                <div class="am-form-group">
                    <label for="doc-select-2">企业状态</label>
                    <select multiple class="" id="doc-select-2">
                        <option>1</option>
                        <option>2</option>
                        <option>3</option>
                        <option>4</option>
                        <option>5</option>
                    </select>
                </div>

                <div class="am-form-group">
                    <label for="doc-ta-1">统计年份</label>
                    <input type="text" class="am-form-field" data-am-datepicker="{format: 'yyyy ', viewMode: 'years', minViewMode: 'years'}" placeholder="日历组件" readonly/>
                </div>

                <p><button type="submit" class="am-btn am-btn-default">提交</button></p>

            </form>
        </div>

    </div>
    <script src="../assets/js/amazeui.min.js"></script>
    <script src="../assets/js/amazeui.datatables.min.js"></script>
    <script src="../assets/js/dataTables.responsive.min.js"></script>
    <script src="../assets/js/app.js"></script>

</body>

</html>